h1 {
    margin-top: 1rem;
}

.send-email {
    margin-top: 2rem;
}

.card {
    margin-top: 2rem;
}

.card-title {
    display: flex;
    align-items: center;
}

.card-text {
    max-height: 20vh;
    overflow: scroll;
}